@import "normalize.css";

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-around;
}

.field{
    text-align: center;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    height: min(50vw, 50vh);
    flex: 0 1 auto;
    border: 1px solid black;
}

.row{
    display: flex;
    align-items: center;
    flex:1;
}

.tile{
    min-height: 1px;
    aspect-ratio: 1 / 1;
    /*border: 0.1px solid black;*/
    flex: 1 1 auto;
}

.settings{
    height: 200px;
    aspect-ratio: 1;
}
.slidecontainer{
    height: 100px;
    aspect-ratio: 1;
}