@import "normalize.css";
@import "font_size.css";

body{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main {
    display: flex;
    justify-content: space-around;
}

.field{
    text-align: center;
    display: flex;
    flex-direction: column;
    aspect-ratio: 1 / 1;
    width: min(65vw, 65vh);
    flex: 0 1 auto;
    border: 1px solid black;
}

.row{
    display: flex;
    align-items: center;
    flex:1;
}

.tile{
    min-height: 1px;
    aspect-ratio: 1 / 1;
    /*border: 0.1px solid black;*/
    flex: 1 1 auto;
}

.tile-border{
    min-height: 1px;
    aspect-ratio: 1 / 1;
    /*border: 0.1px solid black;*/
    flex: 1 1 auto;
    border: 1px solid black;
}

/* Settings*/

.settings{
    height: min(25vh, 25vw);
    width: max(25vw, 25vh);
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--normal-font-size);
}
.slidecontainer{
    padding: 10px;
    width: 90%;
    display: flex;
    align-items: center;
}

.slidecontainer .boundary, 
.slidecontainer input {
    display: inline;
    margin: 0px 10px;
}
#field-size{
    margin-top: 10px;
}




/*Stole this slider*/
.slider {
    font-size: 1vw;
    flex: 1 1 auto;
    -webkit-appearance: none;
    height: 15px;
    border-radius: 5px;  
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
    min-width: none;
  }

  .slider:hover {
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%; 
    background: rgb(232, 0, 66);
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
  }

  @media screen and (max-width: 992px) {
    .main{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
  }