@import "font_size.css";

/* Header */

.header {
    margin: 0px 10vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex:none;
    font-size: var(--small-font-size);
}

.logo{
    color: rgb(232, 0, 66);
    font-size: var(--normal-font-size);
    font-weight: 900;
}
.links-left {
    display: flex;
    justify-content: flex-end;
    gap: 16px;
}
.links-left a{
    text-decoration: none;
    color: rgb(145, 49, 76);
    font-size: var(--small-font-size);
}

/* Footer */
.footer{
    background-color: white;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: var(--small-font-size);
}

.footer a{
    padding-left: 7px;
}
