@media screen and (max-width: 1300px) {
    /* Remove margin */
    .header,
    .first-panel,
    .picture-panel,
    .quote {
        max-width: 90vw;
    }

    .banner {
        min-height: 550px;
    }

    .first-panel h1,
    .first-panel p {
        flex: 0 1 auto;
    }
    
    
}
@media screen and (max-width: 992px) {
    .header,
    .first-panel,
    .picture-panel,
    .quote {
        width: auto;
    }

    .banner {
        background-image: none;
    }
 }
