
*{
    font-family: 'Roboto', sans-serif;
    margin: 0px;
}

body {
    display: flex;
    flex-direction: column;
}

/* First panel*/

.banner {
    background-image: url("../images/banner.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 750px;
    display: flex;
    align-items: center;
    flex: none;
}

.first-panel{
    margin: 0px 200px;
    width: 700px;
    background-color: white;
}

.click{
    display: block;
    margin: 10px 0px;
    background-color: rgb(232, 0, 66);
    border-radius: 8px;
    border: none;
    padding: 8px 24px;
    color: white;
    font-size: 25px;
    font-weight: 700;
}

h1,
.subtext {
    margin: 7px 0px;
}

/* Second panel */

.second-panel{
    background: rgb(49, 49, 49);
    padding-bottom: 20px;
}

.second-panel h2{
    text-align: center;
    color: white;
    margin: 50px 200px;
}

.picture-panel {
    display: flex;
    margin: 0px 200px;
    justify-content: space-around;
    gap: 20px;
    flex-wrap: wrap;
}

.info{
    max-width: 300px;
    text-align: center;
    flex: 1;
}

.info-text {
    color: white;
    text-align: center;
    margin: 10px 0px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 20px;
}

.picture-panel img {
    width: 200px;
    height: 200px;
    border: 5px solid rgb(232, 0, 66);
    border-radius: 8px;
    margin: 10px 0px;
}

/* Third Panel*/

.third-panel {
    background-color: grey;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote{
    font-style: italic;
    font-weight: lighter;
    margin: 0px 200px;
    font-size: 25px;
    max-width: 600px;
    text-align: center;
}
.quote-author{
    text-align: end;
    font-weight: bold;
    font-size: 18px;
    margin: 5px 0px;
}

/* Fourth Panel*/

.fourth-panel{
    background: rgb(49, 49, 49);
}

.fourth-panel h2{
    margin: 30px 200px;
    color:white;
}

.fourth-panel ul {
    margin: 30px 200px;
}

.fourth-panel li{
    font-size: 30px;
    margin: 5px 0px;
    color:rgb(232, 0, 66)
}

.fourth-panel a{
    text-decoration: none;
    color:rgb(232, 0, 66)
}

/*other*/

h1{
    color: rgb(232, 0, 66);
    font-size: 70px;
}

h2{
    font-size: 30px;
}

.subtext{
    color: rgb(145, 49, 76);
    font-size: 25px;
}
ul {
    padding-inline-start: 0px;
    list-style-type: none;
}

